<launch>

  <!-- p2os -->
  <node pkg="p2os_driver" type="p2os_driver" name="p2os_driver">
    <rosparam file="$(find robo_nav)/config/p2os.yaml">
  </node>
  
  <param name="pioneer_joy_controller/dev" value="/dev/input/js4"/>
  <include file="$(find p2os_launch)/launch/teleop_joy.launch"/>
  <param name="axis_vw" type="int" value="3" />

  <!-- Kinect Node -->
  <include file="$(find freenect_launch)/launch/freenect.launch">
    <arg name="depth_registration" value="true"/>
  </include>

  <!-- Static TF publisher between camera_link and base_link -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="link1_broadcaster" 
        args="0 0 0.35 -1.57 -0.02 -1.483 base_link camera_link" />

  <!-- RTAB-MAP -->
  <rosparam file="$(find robo_nav)/config/rtabmap.yaml"/>
  <group ns="rtabmap">

    <node pkg="nodelet" type="nodelet" name="rgbd_sync" args="standalone rtabmap_ros/rgbd_sync" output="screen">
      <remap from="rgb/image"       to="/camera/rgb/image_rect_color"/>
      <remap from="depth/image"     to="/camera/depth_registered/image_raw"/>
      <remap from="rgb/camera_info" to="/camera/rgb/camera_info"/>
      <remap from="rgbd_image"      to="rgbd_image"/>
    </node>

    <node name="rtabmap" pkg="rtabmap_ros" type="rtabmap" output="screen" args="--delete_db_on_start">
          <remap from="odom" to="/pose"/>
          <remap from="rgbd_image" to="rgbd_image"/>
    </node>
  </group>

  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find robo_nav)/config/robo_nav.rviz"/>
</launch>
